{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>Brasileirão 2018 - Futebol</title>
{% endblock %}
{% block tudo %}
<div class="tudo1">
    {% endblock %}
    {% block content %}

    <br>
    <div class="Titulo">
        <h1>BRASILEIRÃO 2018</h1>
    </div>
    <div class="Tabela">

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Pocisão</th>
                    <th scope="col">P</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- Modal Palmeiras -->
                    <div class="modal fade" id="modalPalmeiras" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><img
                                            src="{% static 'img/Palmeiras.png' %}" width="30" height="30" alt="">
                                        Sociedade Esportiva Palmeiras </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Técnico: Luiz Felipe Scolari <br>
                                    Arena/Estádio: Allianz Parque <br>
                                    Fundação: 26 de agosto de 1914 <br>
                                    Presidente: Maurício Galiotte <br>
                                    <hr>
                                    Jogadores:<a href="{% url 'jogadores' %}" title="Felipe Melo"
                                        class="mosaico__escudo"> <img src="{% static 'img/FM.png' %}" alt="Athletico-PR"
                                            height="50" class="mosaico__escudo--img"> </a>
                                    <a href="https://globoesporte.globo.com/pr/futebol/times/athletico-pr/"
                                        title="Zé Roberto" class="mosaico__escudo"> <img
                                            src="{% static 'img/zeroberto.png' %}" alt="Athletico-PR" height="50"
                                            class="mosaico__escudo--img"> </a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Palmeiras Fim-->
                    <!-- Tabela Palmeiras -->
                    <th scope="row"><img src="{% static 'img/Palmeiras.png' %}" width="30" height="30" alt=""><button
                            type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalPalmeiras">1.
                            Palmeiras</button></th>
                    <td>80</td>
                    <td>38</td>
                    <td>23</td>
                    <td>11</td>
                    <td>4</td>
                    <!-- Tabela Palmeiras Fim-->
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Flamengo.png' %}" width="30" height="30" alt=""> 2.
                        Flamengo</th>
                    <td>72</td>
                    <td>38</td>
                    <td>21</td>
                    <td>11</td>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Internacional.png' %}" width="30" height="30" alt=""> 3.
                        Internacional
                    </th>
                    <td>69</td>
                    <td>38</td>
                    <td>19</td>
                    <td>12</td>
                    <td>7</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Gremio.png' %}" width="30" height="30" alt=""> 4. Grêmio
                    </th>
                    <td>66</td>
                    <td>38</td>
                    <td>18</td>
                    <td>12</td>
                    <td>8</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/SaoPaulo.png' %}" width="30" height="30" alt=""> 5. São
                        Paulo</th>
                    <td>63</td>
                    <td>38</td>
                    <td>16</td>
                    <td>15</td>
                    <td>7</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Atletico-mg.png' %}" width="30" height="30" alt=""> 6.
                        Atlético-MG</th>
                    <td>59</td>
                    <td>38</td>
                    <td>17</td>
                    <td>8</td>
                    <td>13</td>
                </tr>
                <th scope="row"><img src="{% static 'img/Athletico-PR.png' %}" width="30" height="30" alt=""> 7.
                    Athletico-PR</th>
                <td>57</td>
                <td>38</td>
                <td>16</td>
                <td>9</td>
                <td>13</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Cruzeiro.png' %}" width="30" height="30" alt=""> 8.
                        Cruzeiro</th>
                    <td>53</td>
                    <td>38</td>
                    <td>14</td>
                    <td>11</td>
                    <td>13</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/botafogo.png' %}" width="30" height="30" alt=""> 9.
                        Botafogo</th>
                    <td>51</td>
                    <td>38</td>
                    <td>13</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Santos.png' %}" width="30" height="30" alt=""> 10. Santos
                    </th>
                    <td>50</td>
                    <td>38</td>
                    <td>13</td>
                    <td>11</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Bahia.png' %}" width="30" height="30" alt=""> 11. Bahia
                    </th>
                    <td>48</td>
                    <td>38</td>
                    <td>12</td>
                    <td>12</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/SaoPaulo.png' %}" width="30" height="30" alt=""> 12.
                        Fluminense</th>
                    <td>45</td>
                    <td>38</td>
                    <td>12</td>
                    <td>9</td>
                    <td>17</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Corinthians.png' %}" width="30" height="30" alt=""> 13.
                        Corinthians</th>
                    <td>44</td>
                    <td>38</td>
                    <td>11</td>
                    <td>11</td>
                    <td>16</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Chapecoense.png' %}" width="30" height="30" alt=""> 14.
                        Chapecoense</th>
                    <td>44</td>
                    <td>38</td>
                    <td>11</td>
                    <td>11</td>
                    <td>16</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Ceara.png' %}" width="30" height="30" alt=""> 15. Ceará
                    </th>
                    <td>44</td>
                    <td>38</td>
                    <td>10</td>
                    <td>14</td>
                    <td>14</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Vasco.jpg' %}" width="30" height="30" alt=""> 16. Vasco
                    </th>
                    <td>43</td>
                    <td>38</td>
                    <td>10</td>
                    <td>13</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/sport.png' %}" width="30" height="30" alt=""> 17. Sport
                    </th>
                    <td>42</td>
                    <td>38</td>
                    <td>11</td>
                    <td>9</td>
                    <td>18</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/America-mg.png' %}" width="30" height="30" alt=""> 18.
                        América-MG</th>
                    <td>40</td>
                    <td>38</td>
                    <td>10</td>
                    <td>10</td>
                    <td>18</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Vitoria.png' %}" width="30" height="30" alt=""> 19. Vitória
                    </th>
                    <td>37</td>
                    <td>38</td>
                    <td>9</td>
                    <td>10</td>
                    <td>19</td>
                </tr>
                <tr>
                    <th scope="row"><img src="{% static 'img/Paraná.png' %}" width="30" height="30" alt=""> 20. Paraná
                    </th>
                    <td>23</td>
                    <td>38</td>
                    <td>4</td>
                    <td>11</td>
                    <td>23</td>
                </tr>


            </tbody>
        </table>
    </div>


    {% endblock %}