{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
<title>Copa do Mundo - Futebol</title>
{% endblock %}
{% block tudo %}
<div class="tudo1">
    {% endblock %}
    {% block content %}
    <br>
    <div class="Titulo">
        <h1>COPAS DO MUNDO</h1>
    </div>

    <div class="Copa">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'img/copa58.jpg' %}" width="300" height="250" class="card-mg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 1958</h5>
                        <p class="card-text">A Copa do Mundo FIFA de 1958 foi a sexta edição da Copa do Mundo FIFA de
                            Futebol, que ocorreu de 10 de junho até 29 de junho de 1958. O evento foi sediado na Suécia.
                            Dezesseis seleções nacionais foram qualificadas para participar desta edição do campeonato,
                            sendo 12 delas europeias. <br>
                            A final entre Brasil e Suécia em frente a um público de 50.000 pessoas. Resultado: Vavá
                            marca
                            gol logo aos nove minutos e vira o jogo ainda no primeiro tempo numa partida excepcional
                            que,
                            mesmo com a derrota sueca por 5 a 2 em casa, foi aplaudida de pé pela torcida anfitriã, ao
                            saudar como campeões do mundo, Assim o Brasil sagrava-se pela primeira vez campeão mundial
                            de
                            futebol.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 1970</h5>
                        <p class="card-text">A Copa do Mundo de 1970 foi a 9ª edição da Copa do Mundo FIFA, que ocorreu
                            de
                            31 de maio até 21 de junho. A competição, conquistada pelo Brasil, foi sediada no México,
                            Dezesseis seleções nacionais foram qualificadas para participar desta edição do campeonato,
                            sendo 9 delas europeias, 5 americanas, 1 asiática e 1 africana.<br>
                            A final desta edição foi disputada pelo Brasil e a Itália. A partida foi realizada em 21 de
                            junho no Estádio Azteca na Cidade do México, com um público estimado em 108 000 pessoas. O
                            primeiro tempo terminou empatado em 1-1. Ao final dos 90 minutos, o placar era de 4-1 para a
                            equipe brasileira. O título serviu de propaganda política, quando o país estava no auge da
                            ditadura militar brasileira. Este título também pôs o Brasil como a primeira seleção a ser
                            tricampeã, confirmando a superioridade brasileira em relação ao futebol mundial. O capitão
                            Carlos Alberto Torres levantou a Taça Jules Rimet entregue pela última vez em Copas, agora
                            em
                            caráter definitivo. Pelé assim levanta sua 3 taça e considerado o melhor da copa.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/copa70.jpg' %}" width="400" height="320" class="card-mg" alt="">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'img/copa94.jpg' %}" width="400" height="250" class="card-mg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 1994</h5>
                        <p class="card-text">A Copa do Mundo de 1994 foi a 15ª Copa do Mundo FIFA que foi sediada nos
                            Estados Unidos, foi o mundial do país que bateu todos os recordes de público, mantidos até
                            os
                            dias de hoje. Com um futebol extremamente eficiente e com um grupo muito unido liderado pelo
                            polêmico craque Romário, a Seleção brasileira conquistou o quarto título mundial ao bater a
                            Itália na final. O titulo do Brasil foi comemorado também como uma homenagem ao tricampeão
                            mundial de fórmula 1 Ayrton Senna, falecido em 1 de maio daquele ano. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 2002</h5>
                        <p class="card-text">A Copa do Mundo de 2002 foi a 17ª Copa do Mundo FIFA que foi sediada no
                            Japão e
                            Coreia do sul que reuniu 32 equipes entre 31 de maio a 30 de junho. Das 32 sendo 13 delas
                            europeias, 8 americanas, 4 asiática e 5 africana e as duas ultimas vagas foram disputadas
                            por
                            play-off entre AFC e UEFA e entre CONMEBOL e OFC. <br>
                            O país manteve a situação de único país a participar de todas as edições do torneio da FIFA
                            e
                            conquistou o quinto título do torneio ao vencer a Alemanha na final por 2-0, com Ronaldo
                            marcando os dois gols em cima do Oliver Kahn melhor jogador e goleiro do mundo daquele ano.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/copa02.jpg' %}" width="403" height="250" class="card-mg" alt="">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="base_post"></div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'img/copa14.jpg' %}" width="350" height="250" class="card-mg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 2014</h5>
                        <p class="card-text">A Copa do Mundo de 2014 foi a 20ª Copa do Mundo FIFA que foi sediada no
                            Brasil,
                            anfitrião da competição pela segunda vez. Com doze cidades-sede, o campeonato começou a ser
                            disputado no dia 12 de junho e terminou em 13 de julho. Das 32 sendo 13 delas europeias, 7
                            americanas, 4 asiática, 5 africana e 1 oceania. As duas ultimas vagas foram disputadas por
                            play-off entre AFC e UEFA e entre CONMEBOL e OFC. <br>
                            O jogo das semifinais entre Brasil e Alemanha, realizado no dia 8 de julho, ficou marcado
                            pela
                            esmagadora derrota sofrida pela Seleção Brasileira de Futebol contra a Seleção Alemã de
                            Futebol.
                            A vitória alemã, por expressivos 7–1, é considerada um dos resultados mais notáveis da
                            história
                            do futebol, sendo a Alemanha campeã do mundo em cima da Argentina por 1-0, mesmo o Messi
                            sendo
                            considerado melhor jogador da copa.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Copa do Mundo 2018</h5>
                        <p class="card-text">A Copa do Mundo de 2018 foi a 21ª Copa do Mundo FIFA que foi sediada na
                            Russia,
                            Entrou para a história por ter sido a Copa do Mundo mais cara da história até então, com um
                            custo total de 14,2 bilhões de dólares.
                            A seleção brasileira acabou prejudicada por um mau primeiro tempo e superada pela eficiência
                            de
                            Bélgica nesta sexta-feira, em Kazan. A derrota por 2 a 1 pelas quartas de final da Copa do
                            Mundo
                            da Rússia, tendo a França como campeã fazendo 4-2 contra a Croácia que teve com Modric
                            melhor
                            jogador da Copa, porem muito questionado sobre o papel dele.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/copa18.jpg' %}" width="350" height="250" class="card-mg" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KP8qLjBpCoI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body" align="center">
                        <h5 class="card-title">Final Copa do Mundo de 1994</h5>
                        <p class="card-text">
                            <p>Nesse jogo o Brasil e a Italia terminam o tempo normal<br> empatados em 0 a 0 e disputam
                                o
                                penalti com a <br>narração historica do Galvão Bueno.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>




    {% endblock %}