{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
<div class="base_post">
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        Criado por: <strong>{{ post.author }}</strong>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comentarios: {{ post.comments.count }}</a>
    </div>
</div>
{% endfor %}
{% endblock content %}